.qyGrid {
	margin: 0px auto;
	padding: 0px;
	width: 90%;
}
.qyGrid .grid-container {
	width: 100%;
	height: 660px;
	margin: 0px;
	padding: 0px;
}
.qyGrid .grid-container .grid-main-canvas {
	display: block;
	border: 1px solid #ccc;
}
.qyGrid .btn-container {
	width: 100%;
	height: 40px;
	margin: 0px;
	padding: 0px;
}
.qyGrid .btn-container .btn {
	padding: 3px 6px;
	margin: 3px;
	display: inline-block;
	font-size: 12px;
	cursor: pointer;
}
.qyGrid .btn-container .btn.default {
	color: #555;
	background-color: #fff;
	border: 1px solid #C9C9C9;
}
